.exsperience {
	width: 100%;
}
@media (max-width: 900px) {
	.exsperience {
		width: 40%;
	}
}

.li {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	list-style-type: '- ';
	padding: 10px;
}
