.rightHeader {
	display: flex;
	justify-content: flex-end;
	margin-right: 156px;
	margin-top: 40px;
	width: 50%;
}

@media (max-width: 900px) {
	.rightHeader {
		display: flex;
		justify-content: flex-end;
		margin-right: 156px;
		margin-top: 10px;
		width: 50%;
	}
}

.printer {
	display: flex;
	gap: 10px;
	align-items: center;
	height: 24px;
	color: var(--blue);
	cursor: pointer;
	&:hover {
		color: var(--red);
		path {
			fill: var(--red);
		}
	}
}
