.blockInput {
	display: inline-flex;
	align-items: center;
	height: 100%;
	cursor: pointer;
	:hover {
		background: var(--input);
	}
}

.inline {
	display: inline-flex;
	width: 10%;
}

.input {
	border: none;
	border-bottom: 1px solid;
	background: rgba(240, 241, 242);
	outline: none;
}

.errorInput {
	border-color: var(--red);
}

.svg {
	display: inline-block;
	position: relative;
	right: 20px;
		:hover {
				background-color: var(--header);
			}
}

.error {
	color: var(--truly-red);
	white-space: nowrap;
	margin: 0;
	cursor: default;
}

.blockError {
	display: flex;
	cursor: default;
	pointer-events: none;
	align-items: center;
}
