.leftHeader {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 24px;
	width: 80%;
}

@media (max-width: 900px) {
	.leftHeader {
		display: grid;
		grid-template:
		'photo' auto
		'personal' auto;
		width: 100%;
	}
}