.header {
	display: flex;
	background-color: var(--header)
}

@media (max-width: 900px) {
	.header {
		display: grid;
		grid-template:
			'rightHeader' auto
			'leftHeader' auto;
		padding-left: 156px;
		padding-right: 156px;
		height: auto;
		margin-bottom: auto;
		justify-items: center;
		gap: 10px;
	}
}

.leftHeader {
	grid-area: leftHeader;
}

.rightHeader {
	grid-area: rightHeader;
}
