.old {
	cursor: pointer;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: var(--blue);
	border-bottom: 1px dotted var(--blue);
	&:hover {
		color: var(--red);
		border: none;
	}
}

.inputName {
	display: inline-block;
	width: 40px;
}
