body {
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	cursor: var(--cursor);
}

:root {
	--blue: #3483CC;
	--red: #EB5757;
	--deep-gray: rgba(0, 0, 0, 0.06);
	--code-gray: rgba(240, 241, 242);
	--text-gray: gray;
	--text-black: black;
	--code-red: rgba(255, 0, 0, 1);
	--code-brown: rgba(165, 42, 42, 1);
	--code-green: rgba(0, 128, 0, 1);
	--font-family: Roboto, sans-serif;
	--truly-red: rgba(255, 0, 0, 1);
	--header: rgb(240, 241, 242);
	--input: rgba(0, 0, 0, 0.06);
	--cursor: url('../public/cursor.png') 13 13, pointer;
}
